.img1{
    border-radius: 50px;
  }
  
  .clearfix {
      overflow: auto;
      border-style: solid;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 60px;
      border-color: white;
      background-color: rgb(198, 245, 245);
    }
    
    .img2 {
      float: right;
    }
    nav{
     
      float: right;
      padding-top: 30px;
      padding-right: 60px;
      
    }
    .navbar{
      overflow: auto;
      border-style: solid;
      border-color: white;
      padding-left: 60px;
      padding-right: 60px;
    }
    .flex-container {
      display: flex;
      background-color: #f1f1f1;
    }
    
    .flex-container > div {
      background-color: white;
      
      width: 500px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 10px;
      font-size: small;
    }
    .covid {
      column-count: 2;
      padding: 40px;
    }
    p{
      padding-left: 100px;
      padding-right: 100px;
      border-style: solid;
      background-color: rgb(217, 194, 247);
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      border-color: rgb(175, 116, 231);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
    }
    #rcorners1 {
      border-radius: 25px;
      background: #e26c86;
      padding: 20px; 
      width: 200px;
      height: 30px;  
      border-color:#86c0dd;
     float: right;
     
    }
    #rcorners2 {
      border-radius: 25px;
      background: #e997c9;
      padding: 20px; 
      width: 200px;
      height: 30px;  
      border-color:  #e3a1e6;
      float: inline-start;
    }
    #rcorners3 {
      border-radius: 25px;
      background: #e1e452;
      padding: 20px; 
      width: 200px;
      height: 30px;  
      border-color:#cbd68a ;
      float: right;
    }
    #rcorners4 {
      border-radius: 25px;
      background: #79e264;
      padding: 20px; 
      width: 200px;
      height: 30px;  
      border-color: #a8e79b ;
      
    }
   
    .info{
      padding-left: 350px;
      padding-right: 350px;
      padding-top: 40px;
    }
    h3{
      padding-left: 650px;
    }
    
    h2{
      padding-left: 650px;
    }
    .award{
      border-style: solid;
      padding-left: 250px;
      padding-right: 250px;
      border-color: white;
      padding-top: 20px;
    }
    .al{
      float:right;
    }
    footer{
      background-color: cyan;
      border-style: solid;
      padding-right: 500px;
      padding-left: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      
  
  }
  h4{
    padding-left: 300px;
  }
  